body {
  margin: 0;
}

header,
footer {
  text-align: center;
}

/* App Container */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main Section */
.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
