@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

body {
  margin: 0;
  background-color: rgb(82, 197, 255);
  font-family: "Jersey 10", sans-serif;
}

/* Header/Footer */
header,
footer {
  text-align: center;
  backdrop-filter: blur(10px);
}

/* Header/Game Title */
.game-title {
  font-size: 3.5rem;
  padding: 15px;
  margin: 0;
}

/* Start Screen Text */
.start-screen-text {
  font-size: 2.3rem;
  padding: 20px;
  margin: 0;
}

/* Footer Text */
.footer-text {
  font-size: 1.3rem;
  padding: 15px;
  margin: 0;
}

/* Whole App Container */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* Background Image */
  background-image: url("../assets/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main Section */
.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* Start Screen Modal */
.start-screen-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 20px;
}

/* Start Screen Buttons */
.start-screen-modal button {
  padding: 20px 80px;
  border: 1px solid black;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.7rem;
}

.start-screen-modal button:hover {
  cursor: pointer;
}

/* Card Grid */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 180px;
  width: 120px;
  padding: 30px;
}

.card:hover {
  cursor: pointer;
}

/* Country Flag */
.country-flag {
  height: 80px;
  width: 130px;
}

/* Country Name */
.country-name {
  margin: 0;
  padding: 20px;
  font-size: 1.7rem;
}

/* Loading Screen */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Loading Animation */
.globe-image {
  height: 150px;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Loading Text */
.loading-text {
  margin: 0;
  font-size: 3rem;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-over-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.modal-box {
  background-color: white;
  height: 300px;
  width: 500px;
}
