@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

body {
  margin: 0;
  background-color: rgb(82, 197, 255);
  font-family: "Jersey 10", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Header/Footer */
header,
footer {
  text-align: center;
  backdrop-filter: blur(10px);
}

/* Header/Game Title */
.game-title {
  font-size: 3.5rem;
  padding: 15px;
  margin: 0;
}

/* Title Link */
header a {
  text-decoration: none;
  color: black;
}

/* Start Screen Text */
.start-screen-text {
  font-size: 2.3rem;
  padding: 20px;
  margin: 0;
}

/* Footer Text */
.footer-text {
  font-size: 1.3rem;
  padding: 15px;
  margin: 0;
}

/* Name Link */
.footer-text a {
  text-decoration: none;
  color: black;
}

.footer-text a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/* Whole App Container */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* Background Image */
  background-image: url("../assets/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main Section */
.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Start Screen Modal */
.start-screen-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  border: 5px solid white;
}

/* Start Screen Buttons */
.game-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border-radius: 4px;
  border-width: 0;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #4c59bf 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "Jersey 10", sans-serif;
  font-size: 2.2rem;
  height: 70px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.game-btn:focus {
  box-shadow:
    #d6d6e7 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
}

.game-btn:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #4c59bf 0 -3px 0 inset;
  transform: translateY(-2px);
}

.game-btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.restart.game-btn,
.quit.game-btn {
  width: 100%;
}

/* Card Grid */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 5px solid white;
  height: 200px;
  width: 130px;
  padding: 30px;
}

.card:hover {
  cursor: pointer;
}

/* Country Flag */
.country-flag {
  height: 80px;
  width: 130px;
}

/* Country Name */
.country-name {
  margin: 0;
  padding: 20px;
  font-size: 1.7rem;
}

/* Loading Screen */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Loading Animation */
.globe-image {
  height: 150px;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Loading Text */
.loading-text {
  margin: 0;
  font-size: 3rem;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal Container */
.game-over-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.263);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* Modal Box */
.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  height: auto;
  width: auto;
  gap: 30px;
  padding: 50px;
}

.win-lose-text {
  font-size: 4rem;
}

/* Score Board */
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px 60px;
  border: 5px solid white;
  border-radius: 20px;
  margin: 20px;
  backdrop-filter: blur(10px);
}

.scores {
  display: flex;
  gap: 50px;
}

.high-score,
.score {
  font-size: 2rem;
}

/* Score Board Text */
.score-board h2 {
  font-size: 2.2rem;
}

/* High Score Group*/
.high-score-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Emojis */
/* Cup Emoji */
.cup-emoji {
  font-size: 1.7rem;
}

/* Globe Emoji */
.globe-emoji {
  font-size: 2.2rem;
}
